@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Author Student: @ViewData["Author"]</p>

<address>
    <strong>More information: </strong> <a href="https://github.com/caiopgaspar/projeto-mvc">Repositório no GitHub - projeto-mvc</a>
</address>
